<h1>
  {{title}}
  <span class="label label-default">test</span>
</h1>


<div style="display:inline-block; min-height:290px;">
  <datepicker [(ngModel)]="dt" [showWeeks]="true" [startingDay]=1 [dateDisabled]="dateDisabled" (selectionDone)="dateChanged($event)"></datepicker>
</div>

<div class="row">
  <div class="col-md-2">
    <table class="table table-responsive table-condensed">
      <tr>
        <th>Min. humidity</th>
        <th><span class="label label-primary">{{ minHumidity }}</span></th>
      </tr>
      <tr>
        <th>Max. humidity</th>
        <th><span class="label label-danger">{{ maxHumidity }}</span></th>
      </tr>
    </table>
  </div>
  <div class="col-md-9">
    <div style="display: block;">
      <canvas baseChart width="250" height="120"
              [datasets]="lineChartHumData"
              [labels]="lineChartHumLabels"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
        <table class="table table-responsive table-condensed">
          <tr>
            <th>Min. temperature</th>
            <th><span class="label label-primary">{{ minTemperature }}</span></th>
          </tr>
          <tr>
            <th>Max. temperature</th>
            <th><span class="label label-danger">{{ maxTemperature }}</span></th>
          </tr>
        </table>
  </div>
  <div class="col-md-9">
    <div style="display: block;">
      <canvas baseChart width="250" height="120"
              [datasets]="lineChartTempData"
              [labels]="lineChartTempLabels"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
